body {
  background-color: #eee;
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 53px
}
h3{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
}
h4{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

p{
  font-family: 'Barlow Condensed', sans-serif;
  padding-top:15px;
  padding-bottom: auto;
  line-height: 1.5;
  font-weight: normal;
  font-size: 18px;
}

.navbar-default {
background-color: transparent;
border-color: transparent;
background-image: none;
box-shadow: none;
}
.navbar-default .navbar-nav>ul {
margin-right: 30px;
width: 100%;
background-color: #999;
height: 20px;
}
.navbar-default .navbar-nav>li>a {
text-transform: uppercase;
font-family: 'Barlow Condensed', sans-serif;
font-size:19px;
color:#FFFFFF;
margin-right:10px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
background-color: rgba(254, 254, 254, 0.5);
color: rgba(0, 0, 0);
font-weight: bolder;
}
.navbar-default .navbar-brand {
text-transform: uppercase;
color: #FFFFFF;
font-family: 'Barlow Condensed', sans-serif;
font-weight: bolder;
font-size:21px;
}
.navbar-brand img {
position: relative;
height: 40px;
margin: 1px;
}

.scrolled{
  background-color: rgba(29, 122,140, 0.9);
  transition: 0.3s;
}

/* /Navbar home page */

/* Navbar */

.navbar {
    background-color: rgba(29, 122,140);
    border-color: rgba(29, 122,140);
    background-image: none;
    box-shadow: none;
    height: 55px;
}

.footer {
    background-color: transparent;
    background-image: none;
    box-shadow: none;

}
.navbar .navbar-nav>ul {
    margin-right: 30px;
    width: 100%;
    background-color: #999;
    height: 20px;
}
.navbar .navbar-nav>li>a {
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-size:19px;
  color:#FFFFFF;
  margin-right: 2px;
}
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(254, 254, 254, 0.5);
  color: rgba(0, 0, 0);
  font-weight: bolder;
}
.navbar .navbar-brand {
 text-transform: uppercase;
 color: #FFFFFF;
 font-family: 'Barlow Condensed', sans-serif;
 font-weight: bolder;
 font-size:21px;
}
.navbar-brand img {
  position: relative;
  height: 40px;
  margin: 1px;
}



@media (max-width: 767px) {
  .navbar-collapse
  {
    background-color: rgba(29, 122,140, 0.9);
    text-align: left;
  }
  .navbar-header {
    background-color: rgba(29, 122,140, 0.9);
  }
}

#home .jumbotron {
  padding-top: 20px;
  padding-bottom: 400px;
  min-width: 600px;
  margin-bottom: 0;
  background-image: url('../img/Dog car window.jpg');
  background-size:cover;
  background-attachment:fixed;
}

#home h1{
font-family: 'Barlow Condensed', sans-serif;
  font-weight: bolder;
  font-size: 80px;
  margin-bottom: 0.5em;
  margin-top:1.80em;
  margin-left: 150px;
  font-style: normal;
  text-align: left;
  text-shadow: 3px 4px 5px #eee;
}

#home p{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: black;
  margin-bottom: 1em;
  margin-left: 170px;
  font-style: normal;
  text-align: center;
  max-width: 400px;
  text-shadow: 1.5px 2px 2.5px #eee;
}

blockquote{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 5em;
  max-width: 600em;
  margin-bottom: 3em;
}

blockquote>footer{
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: 3em;
}
.places{
  margin-top: 2em;
  background-image:url('../img/dog on beach 2.jpg');
  background-size:cover;
  background-attachment:fixed;
}

.thumbnail {
height: 500px;
width: 100%;
}

.thumbnail img {
  height:250px;
  width: 100%;
}

#myCarousel {
  background-color: #343148
  margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.tips{
	margin: 20px;
}
.fa-chevron-left,.fa-chevron-right{
padding-top:125%;
}

#footer .navbar-default {
 background-color: transparent;
 border-color: transparent;
 background-image: none;
 box-shadow: none;
}

 .countries{
 margin-left: 5%;
 margin-right: 5%;
 }
 .countrypic img{
  margin-left: 15%;
  margin-right: 15%;
 }
 .countryspn img{
 margin-left: 25%;
 margin-right: 10%;

 }

#touch h4{
margin-top: 25%;
margin-bottom:70px;
}

#touch{
margin-left: 10%;
margin-right: 10%;
margin-top: 25%;
margin-bottom: 70px;
}

#socialmedia{
padding-top: 20px;
}

#socialmedia a{
color: #1D7A8C;
}

button{
margin-top: 10%;
}
/* Places */

#places {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
}
#places h2 {
  text-transform: uppercase;
  font-size: 53px;
  padding-top: 2em;
  padding-bottom: 1.5em;

}
#places h4 {
  font-size: 50px;
}

#places p {
  font-size: 20px;
  line-height: 38px;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#places .img-rounded {
width: 600px;
height: 400px;
}

#places .col-container {
  height: 610px;

}

.btn-primary {
      background: #1D7A8C;
      text-transform: uppercase;
      font-family: 'Barlow Condensed', sans-serif;
      font-size:19px;
      color:#FFFFFF;
      font-weight: normal;
      border: none;
      letter-spacing: 0.04em;
      position: relative;
      bottom: 15px;
      text-align: center;

    }

.btn-primary:hover
    {
        box-shadow: 0px 0px 40px #1D7A8C;
        z-index: 2;
        -webkit-transition: all 100ms ease-in;
        -webkit-transform: scale(1.2);
        -ms-transition: all 40ms ease-in;
        -ms-transform: scale(1.2);
        -moz-transition: all 40ms ease-in;
        -moz-transform: scale(1.2);
        transition: all 40ms ease-in;
        transform: scale(1.2);
        background-color: rgba(254, 254, 254, 0.5);
        color: #1D7A8C;
        font-weight: bolder;
    }

/*Things to do - home page*/

#activities {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#activities .img-responsive {
  max-width:60%;
  max-height:60%;
  position: relative;
  }

#activities h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;

  }

#activities h4 {
  font-size: 30px;
}

#activities p {
font-size: 20px;
line-height: 30px;
padding-top: 2em;
padding-bottom: 1em;
padding-left: 1em;
padding-right: 1em;
}

#activities .col-container {
  height: 350px;

}

/* About Us*/

#about .img-circle {
  width: 200px;
  height: 200px;
}


#about .jumbotron {
  padding-top: 100px;
  padding-bottom: 400px;
  min-width: 600px;
  margin-bottom: 0;
  background-image: url('../img/dog.jpg');
  background-size:cover;
  background-attachment:fixed;
}

#about h1{
font-family: 'Barlow Condensed', sans-serif;
  font-weight: bolder;
  font-size: 80px;
  margin-bottom: 0.2em;
  margin-top: 2em;
  margin-left: 100px;
  font-style: normal;
  text-align: center;
  text-shadow: 3px 4px 5px #eee;
}

#about .jumbotron p{
  font-family: 'Barlow Condensed', sans-serif;
  spacing: 10em;
  font-weight: bolder;
  font-size: 28px;
  color: black;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 400px;
  font-style: normal;
  text-align: center;
  max-width: 400px;
  text-shadow: 1.5px 2px 2.5px #eee;
}

#about .container {
  padding-top: 90px;
  padding-bottom: 90px;
}

#about h3{
    font-family: 'Barlow Condensed', sans-serif;
    color: rgba(29, 122,140);
    font-weight: normal;
    font-size: 40px;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

#about p{
font-family: 'Barlow Condensed', sans-serif;
font-size: 20px;
line-height: 30px;
padding-top: 2em;
padding-bottom: 1em;
padding-left: 1em;
padding-right: 1em;
}

#about .image-blurred-edge {
    box-shadow: 0 0 8px 8px #eee inset;
}

#footer .navbar-default {
  background-color: transparent;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}
